body {
  display: flex;
  flex-direction: column;
}

header {
  width: 100%;
  background-color: #ff8000;
}

.logo {
  height: 100px;
  width: auto;
  padding: 16px;
}

main {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100%;
}

footer {
  width: 100%;
  height: 100px;
  background-color: #efedea;
}

.footerContent {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.footerLinks {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 24px;
  text-align: center;
}

.copyright > p {
  text-align: center;
}
