* {
  margin: 0px;
  padding: 0px;
  border: 0 solid transparent;
  font-family: "Roboto", sans-serif;
}

html {
  scroll-behavior: smooth;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  cursor: pointer;
  text-decoration: underline;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}
